@media all and (min-width: 1200px) {
  .main-menu-trigger {
    height: 0;
    width: 0;
    margin: 0;
  }
}
@media all and (max-width: 1199px) {
  .main-menu {
    order: 1;
    margin: 0 20px 0 0;
    position: absolute;
    display: none;
  }
  .logo {
    order: 2;
  }
  .main-menu-trigger {
    width: 30px;
    height: 30px;
    margin: 0px 40px 0 0;
    cursor: pointer;
  }
  .img-real-bottom {
    right: -10px;
  }
  .store-block {
    height: 380px;
  }
}
@media all and (max-width: 991px) {
  .title-new-product {
    font-size: 32px;
    line-height: 38px;
    margin-bottom: 10px;
  }
  .text-new-product {
    font-size: 14px;
  }
  .product-description {
    padding: 20px 40px;
    align-content: flex-start;
  }
  .store-block-name {
    font-size: 30px;
  }
  .title-footer-col {
    font-size: 18px;
  }
  .email-text-block h5 {
    font-size: 16px;
  }
}
@media all and (max-width: 767px) {
  .wrap-header-menu {
    position: relative;
    padding: 20px;
  }
  .logo {
    margin-bottom: 20px;
    width: 100%;
    order: 1;
  }
  .main-menu-trigger {
    order: 2;
  }
  .menu-block {
    flex-wrap: wrap;
  }
  .block-login-cart {
    position: absolute;
    right: 15px;
    bottom: 15px
  }
  .main-menu.active-menu {
    height: 100vh;
  }
  .banner-block {
    height: initial;
  }
  .banner-block-content {
    padding: 80px 0;
  }
  .banner-block-subtitle {
    font-size: 21px;
  }
  .banner-block-title {
    font-size: 48px;
    line-height: 52px;
    margin-bottom: 15px;
  }
  .banner-block-text {
    font-size: 16px;
    line-height: 34px;
    margin-bottom: 30px;
  }
  .product-cart-img {
    height: 420px;
  }
  .product-cart {
    width: 100%;
  }
  .product-description {
    width: 100%;
    align-content: center;
    text-align: center;
    padding: 10px;
  }
  .new-product-block {
    padding: 10px;
  }
  .img-real-bottom {
    display: none;
  }
  .img-bottom-right,.img-top-left {
    opacity: 0.3;
  }
  .store-block {
    width: 100%;
    height: 280px;
  }
}
@media all and (max-width: 460px) {
  footer {
    text-align: center;
  }
  footer .col {
    flex-basis: inherit;
    margin-bottom: 40px;
  }
}