@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&display=swap');
a {
color: #343f48;
}
a:hover {
color: #11161a
}
.form-control {
  padding: 12px;
  border: 1px solid #ffffff;
}
.form-control:focus {
  color: #495057;
  background-color: #fff;
  border-color: #cabdaa;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(195, 167, 124, 0.25);
}
body {
font-family: 'Montserrat', sans-serif;
color: #444444;
}
header {
border-bottom: 1px solid #efefef;
}
.btn-cta-banner {
padding: 12px 40px;
}
.btn-primary {
background: #4f5b65;
border: 1px solid #4f5b65;
}
.btn-primary:hover {
background: #444444;
border: 1px solid #444444;
}
.wrap-header-menu {
display: flex;
align-items: center;
justify-content: space-between;
padding: 20px 40px;
}
.menu-block {
display: flex;
align-items: center;
}
.main-menu-item {
position: relative;
font-size: 19px;
transition: 0.3s;
border-bottom: 2px solid transparent;
}
.main-menu-item:before {
content: '';
position: absolute;
width: 100%;
height: 2px;
background: #fff;
bottom: -2px;
right: 0;
transition: 0.3s;
}
.main-menu-item:hover:before {
width: 0;
left: 0;
}
.main-menu-trigger {
position: relative;
width: 30px;
height: 30px;
display: flex;
align-items: center;
margin: 0px 40px 0 0;
z-index: 999999;
}
.main-menu-trigger:before {
content: '';
position: absolute;
width: 100%;
height: 2px;
top: 3px;
left: 0;
background: #444444;
}
.main-menu-trigger:after {
content: '';
position: absolute;
width: 100%;
height: 2px;
bottom: 3px;
left: 0;
background: #444444;
}
.burger-ico {
width: 100%;
height: 2px;
display: block;
background: #444444;
}
.main-menu-item:hover {
border-bottom: 2px solid #c4b7a4;
text-decoration: none;
}
.main-menu-item:not(:last-child) {
margin-right: 50px;
}
.main-menu {
margin: 0 0 0 90px;
}
.btn-header-login img, .btn-header-cart img {
height: 30px;
}
.block-login-cart {
display: flex;
}
.btn-header-cart.active-cart {
position: relative;
}
.active-cart:before {
content: '';
position: absolute;
height: 12px;
width: 12px;
background: #c4b7a4;
border-radius: 30px;
border: 2px solid #ffffff;
top: 4px;
right: 4px;
}
.block-login {
margin-right: 20px;
}
.banner-block {
background: url(../images/bg_banner.png) bottom center no-repeat;
height: 75vh;
}
.banner-block-subtitle {
font-size: 30px;
margin-bottom: 0;
}
.banner-block-title {
font-size: 72px;
font-weight: 700;
margin-left: -5px;
line-height: 72px;
margin-bottom: 25px;
}
.banner-block-text {
font-size: 18px;
line-height: 36px;
max-width: 500px;
margin-bottom: 46px;
}
.logo img {
width:100%;
max-width: 300px;
}
.main-menu.active-menu {
display: flex;
flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  padding: 20px;
  background: rgba(255, 255, 255, 0.95);
  text-align: center;
  bottom: 0;
  justify-content: center;
  z-index: 9;
}
.active-menu .main-menu-item {
display: block;
margin-right: 0;
margin-bottom: 40px;
font-size: 24px;
}
.active-trigger .burger-ico{
opacity: 0;
}
.active-trigger.main-menu-trigger:after {
bottom: 14px;
transform: rotate(-45deg);
}
.active-trigger.main-menu-trigger::before {
top: 14px;
transform: rotate(45deg);
}
.new-product-block {
position: relative;
display: flex;
padding: 40px;
background: #e9e3da;
border-radius: 4px;
flex-wrap: wrap;
}
.block-bg-img {
width: 100%;
position: absolute;
z-index: 0;
height: 100%;
top: 0;
left: 0;
}
.img-bottom-right {
  position: absolute;
  right: 0;
  bottom: 0;
  max-width: 100%;
}
.img-top-left {
  position: absolute;
  top: 0;
  left: 0;
  max-width: 100%;
}
.img-real-bottom {
  position: absolute;
  bottom: -60px;
  right: -40px;
}
.product-cart {
position: relative;
  width: 50%;
padding:10px;
z-index: 1;
}
.label-new-product {
  position: absolute;
  padding: 8px 20px;
  top: 25px;
  right: 25px;
  background: #a24036;
  color: #ffffff;
  z-index: 2;
  font-size: 21px;
  border-radius: 4px;
  text-transform: uppercase;
  font-weight: 600;
}
.product-cart-img {
  position: relative;
height: 490px;
background: #ffffff;
border-radius: 4px;
overflow: hidden;
}
.product-cart-img img {
  max-width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
.product-description {
display: flex;
flex-wrap: wrap;
width: 50%;
padding: 40px;
align-content: center;
position: relative;
z-index: 1;
}
.product-description > div {
width: 100%;
}
.title-new-product {
font-size: 48px;
line-height: 54px;
font-weight: 700;
margin-bottom: 20px;
}
.text-new-product {
font-size: 16px;
line-height: 24px;
margin-bottom: 30px;
}
.section-padding {
padding: 40px 0;
}
.scroll-hidden {
  overflow: hidden;
  height: 100vh;
  position: fixed;
  width: 100%;
}
.title-blocks {
  font-size: 48px;
line-height: 54px;
font-weight: 700;
margin-bottom: 10px;
}
.subtitle-blocks {
  font-size: 16px;
  line-height: 24px;
}
.store-block {
  display: flex;
  align-content: flex-end;
  align-items: flex-end;
  overflow: hidden;
  position: relative;
  width: calc(50% - 15px);
  height: 480px;
  background: #ececec;
  padding: 25px;
  margin: 15px 0;
  border-radius: 4px;
}
.wrap-store-block {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.store-block-name {
  z-index: 1;
  font-size: 36px;
  margin: 0;
  font-weight: 700;
  width: 100%;
}
.store-block:hover .arrow-btn {
  width: 40px;
}
.store-block-img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}
.text-part {
  z-index: 2;
}
.wrap-btn-store {
  width: 100%;
  margin: 0;
  display: flex;
  align-items: center;
  z-index: 1;
}
.arrow-btn {
  display: block;
  position: relative;
  width: 20px;
  height: 1px;
  background: #444444;
  transition: 0.3s;
}
.arrow-btn:before {
  content: '';
  width: 8px;
  height: 1px;
  background: #444444;
  position: absolute;
  right: 0;
  top: -3px;
  transform: rotate(45deg);
}
.arrow-btn:after {
  content: '';
  width: 8px;
  height: 1px;
  background: #444444;
  position: absolute;
  right: 0;
  bottom: -3px;
  transform: rotate(-45deg);
}
.store-block-img-btn {
  display: flex;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
  flex-wrap: wrap;
  align-content: flex-end;
  padding: 30px;
 
}
.store-block-img-btn img {
  transition: 0.3s;
}
.store-block-img-btn:hover {
  text-decoration: none;
}
.store-block-img-btn:hover img {
  transform: scale(1.1);
}
footer {
  background: #e9e3da;
  color: #444444;
  padding: 40px 0;
  font-size: 14px;
  line-height: 24px;
}
.title-footer-col {
  position: relative;
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 25px;
  display: inline-block;
}
.title-footer-col-list {
  padding: 0;
  list-style-type: none;
}
.title-footer-col-list-item:not(:last-child) {
  margin-bottom: 15px;
}
.title-footer-col:before {
  content: '';
  position: absolute;
  height: 2px;
  width: 100%;
  background: #444444;
  bottom: -5px;
}
.position-subscribe-input {
  margin-bottom: 30px;
}
.btn-subscribe {
  min-width: 50px;
}